* {
  box-sizing: border-box;
}

body {
  background: #C0C0C0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.main-grid {
  display: grid;
  grid-template-columns: 240px  auto;
  grid-template-areas:
               "header header"
               "sidebar main";
}

.header {
  background: #A0A0A0;
  border-radius: 0 0 0 35px;
  box-shadow: 0 3px 3px #0D450A80;
  grid-area: header;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.header div {
  text-align: center;
}


.header h1 {
  color: white;
  margin: 0px;
  font-size: 50px;
  font-family: "Great Vibes", cursive;

}

.header h2 {
  color: white;
  margin: 0px;
  font-size: 20px
  font-family: "IM Fell English", cursive;
}

.header img {
  max-height: 100px;
  margin: 0 10px 0 10px;
}

.info-block {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;

}

.info-block h2 {
  margin-top: 0px;
}

.info-block table {
  margin-left: 5px;
  margin-bottom: 16px;
}

.info-block td:first-child {
  padding: 0 20px 0 0;
}

.main {
  background: #F0F0F0;
  border-radius: 25px 0 0 0;
  box-shadow: -3px 0px 3px 0px #0D450A80;
  grid-area: main;
  text-align: center;
  display:flex;
  flex-direction: column;
  padding: 10px 10px 0 20px;
  width: 100%;
  z-index: 2;
}

.main a{
  text-align: left;
}

.main h2 {
  font-family: "IM Fell English", cursive;
}

.sidebar {
  background: #C0C0C0;
  grid-area: sidebar;
}

.sidebar menu {
  list-style-type: none;
  font-size: 1.5em;
}

.signup {
  background: #13610E;
  border-radius: 10px;
  color: white;
  font-family: "IM Fell English", cursive;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 16px;
}

.quickinfo td:first-child {
  font-weight: 600;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .header img{
    margin: 0;
    max-height: 70px;
  }
  .info-block td:first-child {
    padding: 0 10px 0 0;
  }
  .main {
    padding: 20px 5px 0 5px;
  }
  .main a {
    text-align: center;
  }
  .main-grid {
    grid-template-columns: 0 auto;
  }
  .signup {
    max-width: 300px;
  }
}
